extends pug-templates/default

block content
  h1 Terms of Service
  p
    | By using this website or the PBDB Discord bot, you agree to comply with
    | the following terms and conditions. Please read them carefully.
  h2 1. Compliance with Discord Terms of Service
  p
    | Users of PBDB must adhere to Discord’s 
    a(href='https://discord.com/terms') Terms of Service
    |  and 
    a(href='https://discord.com/guidelines') Community Guidelines
    | . Failure to comply with these terms may result in the termination of
    | access to PBDB.
  h2 2. User-Generated Content
  p
    | Content submitted on this website may be stored, processed, and displayed
    | publicly. By submitting content, you grant PBDB the right to use, modify,
    | and distribute it under the 
    a(href='https://github.com/gimjb/pbdb/blob/master/LICENSE.md') MIT-0 license
    |  of the PBDB project. You also agree that the content you submit does not
    | violate any applicable laws or regulations, and that you are solely
    | responsible for the content you submit.
  h2 3. Prohibited Activities
  p
    | Users are prohibited from engaging in the following activities while using
    | PBDB:
  ol
    li Violating any applicable laws or regulations.
    li Abusing, harassing, or threatening other users.
    li Impersonating any individual or entity.
    li Attempting to gain unauthorized access to PBDB or Discord servers.
    li Interfering with the operation or functionality of PBDB or Discord servers.
    li Engaging in any activity that disrupts or negatively impacts other users’ experience.
  h2 4. Limitation of Liability
  p
    | PBDB and its developers shall not be held liable for any direct, indirect,
    | incidental, consequential, or exemplary damages arising from the use or
    | inability to use PBDB. This includes damages resulting from any errors,
    | bugs, or inaccuracies in the bot’s functionalities or content.
  h2 5. Modification of Terms
  p
    | PBDB reserves the right to modify these Terms of Service at any time.
    | Continued use of PBDB after such modifications constitutes acceptance of the
    | updated Terms of Service.
  h2 6. Termination
  p
    | PBDB reserves the right to terminate or suspend access to the bot at any time,
    | without prior notice or liability, for any reason, including, but not limited
    | to, a violation of these Terms of Service or Discord’s Terms of Service.
  h2 7. Governing Law
  p
    | These Terms of Service shall be governed by and construed in accordance with the
    | laws of the jurisdiction in which the bot owner resides, without regard to its
    | conflict of law provisions.
  h2 8. Contact Information
  p
    | If you have any questions or concerns about these Terms of Service or the use of
    | PBDB, you can contact the bot owner via Discord (
    a.mention(href='https://discord.gg/uVZrsdmD') @gimjb
    | ) or via email (
    a.mention(href='mailto:090302@5409.dk') 090302@5409.dk
    | ).
