extends ../pug-templates/default

block title
  title Guidelines for Writing Definitions

block content
  h1 Guidelines for Writing Definitions
  p 
    | The intent of the 
    span.mention.mention--forbidden /term
    |  command is to provide users with brief descriptions of unfamiliar
    | theological terms as understood by Primitive Baptists. Below are some
    | guidelines to follow when writing definitions:
  ol
    li
      | Definitions 
      strong: i should
      |  be:
      ol
        li
          | definitions of theological terms, historical figures, or events,
          | such as TULIP, Jesus Christ, or the Trinity.
        li
          strong: i less than 500 characters in length:
          |  if a definition is too long, it may disrupt the flow of
          | conversation in a channel. You can provide links to more detailed
          | resources if necessary.
        li
          strong: i clear and concise:
          |  avoid using complex language or jargon that may be difficult for
          | the average user to understand. If a term is complex, consider
          | breaking it down into simpler terms.
        li
          strong: i backed by scripture:
          |  whenever possible, provide scriptural references to support the
          | definition. This helps users understand the biblical basis for the term.
    li
      | Definitions 
      strong: i must
      |  be:
      ol
        li
          strong: i in line with Primitive Baptist beliefs:
          |  definitions should reflect the understanding of the term as it is
          | used within the Primitive Baptist community.
        li
          strong: i original:
          |  definitions must not be copied from other sources. If you are using
          | a source to help you write a definition, make sure to put the
          | definition in your own words.
    li
      | Definitions 
      strong: i must not
      |  be 
      strong: i articles or essays:
      |  definitions must be actual definitions of terms, not explanations or
      | discussions of theological concepts, such as differences between
      | Primitive Baptists and other religious groups.
  p
    | Please note that these are guidelines and not hard rules. For example, it
    | may be appropriate to provide a longer definition if the term is
    | particularly complex or if the term is not well-known. However, the goal
    | is to provide definitions that are helpful and accessible to all users. It
    | is almost always better to err on the side of being too brief rather than
    | too verbose, and to provide additional resources for those who want to
    | learn more.